services:
  postgres:
    image: postgres:15
    container_name: fitness-db
    environment:
      POSTGRES_USER: fitness_user
      POSTGRES_PASSWORD: fitness_pass
      POSTGRES_DB: fitness_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: